* {
    font-family: 'Montserrat', sans-serif;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    background: black;
    padding: 25px;
    border-radius: 25px;
}

#buttons {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.numbers {
    background: white;
    color: black;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding: 5px;
    margin: 5px;
    font-size: 30px;
    text-align: center;
}

#result {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: white;
    color: black;
    height: 50px;
    width: 85%;
    margin: 25px 1px;
}

#result span {
    padding: 5px 5px;
    font-size: 20px;
}